apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: sail-operator
    app.kubernetes.io/created-by: {{ .Values.name }}
    app.kubernetes.io/instance: {{ .Values.deployment.name }}
    app.kubernetes.io/managed-by: helm
    app.kubernetes.io/name: deployment
    app.kubernetes.io/part-of: {{ .Values.name }}
    control-plane: {{ .Values.deployment.name }}
    {{- with .Values.deployment.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  name: {{ .Values.deployment.name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      app.kubernetes.io/created-by: {{ .Values.name }}
      app.kubernetes.io/part-of: {{ .Values.name }}
      control-plane: {{ .Values.deployment.name }}
  strategy: {}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: sail-operator
{{- range $key, $val := .Values.deployment.annotations }}
        {{ $key | quote }}: {{ $val | quote}}
{{- end }}
      labels:
        app.kubernetes.io/created-by: {{ .Values.name }}
        app.kubernetes.io/part-of: {{ .Values.name }}
        control-plane: {{ .Values.deployment.name }}
        {{- with (.Values.pod).labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - amd64
                - arm64
                - ppc64le
                - s390x
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 6 }}
      {{- end }}
      containers:
      - args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=:8443
        - --zap-log-level={{ .Values.operatorLogLevel }}
        {{- with .Values.operator.extraArgs }}
        {{- tpl (toYaml .) $ | nindent 8 }}
        {{- end }}
        command:
        - /sail-operator
        {{- with .Values.operator.env }}
        env:
        {{- toYaml . | nindent 8 }}
        {{- end }}
        image: {{ .Values.image }}
{{- if .Values.imagePullPolicy }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
{{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: sail-operator
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: {{ .Values.operator.resources.limits.cpu }}
            memory: {{ .Values.operator.resources.limits.memory }}
          requests:
            cpu: {{ .Values.operator.resources.requests.cpu }}
            memory: {{ .Values.operator.resources.requests.memory }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
        volumeMounts:
        - mountPath: /etc/sail-operator
          name: operator-config
          readOnly: true
      securityContext:
        runAsNonRoot: true
      serviceAccountName: {{ .Values.serviceAccountName }}
      terminationGracePeriodSeconds: 10
      volumes:
      - downwardAPI:
          defaultMode: 420
          items:
          - fieldRef:
              fieldPath: metadata.annotations
            path: config.properties
        name: operator-config
