---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.name }}-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - endpoints
  - events
  - namespaces
  - nodes
  - persistentvolumeclaims
  - pods
  - replicationcontrollers
  - resourcequotas
  - secrets
  - serviceaccounts
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingadmissionpolicies
  - validatingadmissionpolicybindings
  - validatingwebhookconfigurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - k8s.cni.cncf.io
  resources:
  - network-attachment-definitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.istio.io
  resources:
  - envoyfilters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sailoperator.io
  resources:
  - istiorevisions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sailoperator.io
  resources:
  - istiorevisions/finalizers
  verbs:
  - update
- apiGroups:
  - sailoperator.io
  resources:
  - istiorevisions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - sailoperator.io
  resources:
  - istiorevisiontags
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sailoperator.io
  resources:
  - istiorevisiontags/finalizers
  verbs:
  - update
- apiGroups:
  - sailoperator.io
  resources:
  - istiorevisiontags/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - sailoperator.io
  resources:
  - istiocnis
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sailoperator.io
  resources:
  - istiocnis/finalizers
  verbs:
  - update
- apiGroups:
  - sailoperator.io
  resources:
  - istiocnis/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - sailoperator.io
  resources:
  - istios
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sailoperator.io
  resources:
  - istios/finalizers
  verbs:
  - update
- apiGroups:
  - sailoperator.io
  resources:
  - istios/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - sailoperator.io
  resources:
  - remoteistios
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sailoperator.io
  resources:
  - remoteistios/finalizers
  verbs:
  - update
- apiGroups:
  - sailoperator.io
  resources:
  - remoteistios/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - clusterroles
  - rolebindings
  - roles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
  - bind
  - escalate
- apiGroups:
  - security.openshift.io
  resourceNames:
  - privileged
  resources:
  - securitycontextconstraints
  verbs:
  - use
- apiGroups:
  - sailoperator.io
  resources:
  - ztunnels
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sailoperator.io
  resources:
  - ztunnels/finalizers
  verbs:
  - update
- apiGroups:
  - sailoperator.io
  resources:
  - ztunnels/status
  verbs:
  - get
  - patch
  - update
