name: Update-deps workflow

on:
  schedule: 
    - cron: "0 5 * * *" # everyday at 5AM UTC

run-name: update-deps

env:
  GIT_USER: ${{ secrets.GIT_USER }}
  GH_TOKEN: ${{ secrets.GIT_TOKEN }}
  AUTOMATOR_ORG: istio-ecosystem
  AUTOMATOR_REPO: sail-operator

jobs:
  update-deps:
    runs-on: ubuntu-latest
    container:
      image: gcr.io/istio-testing/build-tools:master-3858f8db549f6f7f73de4b55fba5075f71d2651d
      options: --entrypoint ''

    steps:
    - uses: actions/checkout@v4
      with:
        repository: istio/test-infra
        ref: master

    # this is a workaround for a permissions issue when using the istio build container
    - run: git config --system --add safe.directory /__w/sail-operator/sail-operator

    - name: Run Automator main
      run: |
        ./tools/automator/automator.sh \
          --org=$AUTOMATOR_ORG \
          --repo=sail-operator \
          --branch=main \
          '--title=Automator: Update dependencies in $AUTOMATOR_ORG/$AUTOMATOR_REPO@main' \
          --labels=auto-merge \
          --email=openshiftservicemeshbot@gmail.com \
          --modifier=update_deps \
          --token-env \
          --cmd='BUILD_WITH_CONTAINER=0 ./tools/update_deps.sh' \
          --signoff
    - name: Run Automator release-1.28
      run: |
        ./tools/automator/automator.sh \
          --org=$AUTOMATOR_ORG \
          --repo=sail-operator \
          --branch=release-1.28 \
          '--title=Automator: Update dependencies in $AUTOMATOR_ORG/$AUTOMATOR_REPO@release-1.28' \
          --labels=auto-merge \
          --email=openshiftservicemeshbot@gmail.com \
          --modifier=update_deps \
          --token-env \
          --cmd='BUILD_WITH_CONTAINER=0 UPDATE_BRANCH=release-1.28 PIN_MINOR=true TOOLS_ONLY=true ./tools/update_deps.sh' \
          --signoff
    - name: Run Automator release-1.27
      run: |
        ./tools/automator/automator.sh \
          --org=$AUTOMATOR_ORG \
          --repo=sail-operator \
          --branch=release-1.27 \
          '--title=Automator: Update dependencies in $AUTOMATOR_ORG/$AUTOMATOR_REPO@release-1.27' \
          --labels=auto-merge \
          --email=openshiftservicemeshbot@gmail.com \
          --modifier=update_deps \
          --token-env \
          --cmd='BUILD_WITH_CONTAINER=0 UPDATE_BRANCH=release-1.27 PIN_MINOR=true TOOLS_ONLY=true ./tools/update_deps.sh' \
          --signoff
    - name: Run Automator release-1.26
      run: |
        ./tools/automator/automator.sh \
          --org=$AUTOMATOR_ORG \
          --repo=sail-operator \
          --branch=release-1.26 \
          '--title=Automator: Update dependencies in $AUTOMATOR_ORG/$AUTOMATOR_REPO@release-1.26' \
          --labels=auto-merge \
          --email=openshiftservicemeshbot@gmail.com \
          --modifier=update_deps \
          --token-env \
          --cmd='BUILD_WITH_CONTAINER=0 UPDATE_BRANCH=release-1.26 PIN_MINOR=true TOOLS_ONLY=true ./tools/update_deps.sh' \
          --signoff
